{% assign items = collections.posts | whereData: 'lang', lang %}
{% for item in items limit:10 %}
  <article>
    <img class="insta-image" alt="{{item.data.title}}" src="{{site.url}}{{site.baseurl}}{{item.data.image}}">
    <p class="insta-content">{{ item.template.frontMatter.content }}</p>
  </article>
{% endfor %}

